body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    background-color: #f0f0f0;
}

form {
    margin-bottom: 30px;
    background-color: wheat;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,1);
}

textarea {
    width: 100%;
}

.message {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 60px;
}

.message .nickname {
    font-weight: bold;
}

.message .time {
    color: #888;
    font-size: 0.8em;
}
